{
  "appearance": {
    "theme": "dark"
  },
  "trading": {
    "defaultSymbol": "BTCUSDT",
    "defaultInterval": "1",
    "bigTradesFilter": 50000,
    "whaleThreshold": 500000,
    "blockTradeThreshold": 1000000,
    "alarmEnabled": false
  },
  "display": {
    "maxTradesHistory": 100
  },
  "symbols": {
    "favorites": [
      "ETHUSDT",
      "ADAUSDT",
      "SOLUSDT",
      "BNBUSDT",
      "DOGEUSDT",
      "BTCUSDT"
    ],
    "recent": [
      "BTCUSDT",
      "ETHUSDT"
    ]
  },
  "network": {
    "isTestnet": false
  }
}